{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}

{% block content %}
    <h2>Sing Up</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
{% endblock %}