{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success ml-2" type="submit">Sign up</button>
    </form>
{% endblock %}