{% extends 'base.html' %}
{% block title %}Enter new password{% endblock %}

{% block content %}
    <h1>Set new password</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form_p }}
        <input class="btn btn-success" type="submit" value="Change my password">
    </form>
{% endblock %}