{% extends 'base.html' %}

{% block title %}Password resset comlete{% endblock %}

{% block content %}
    <h1>Password</h1>
    <p>You new password has been set</p>
    <a href="{% url 'login' %}">Log in page</a>
{% endblock %}