{% extends 'base.html' %}

{% block title %}Forgot you title{% endblock %}

{% block content %}
    <h1>Forgot your password</h1>
    <p>Enter you email address, bellow</p>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Send me instruction">
    </form>
{% endblock %}