{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}
    <h1>Password change 1</h1>
    <p>Please enter you old password, for security</p>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Change my password">
    </form>
{% endblock %}